@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root
{
    --white-title: #FFFFFF;
    --gray-text: #C0C0C0;
    --black-root: #00030C;
    --blue-button: #167BF7;
    --white-description: #F9F9F9;
    --fonte-padrao: 'Inter', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: var(--black-root);
    font-family: var(--fonte-padrao);
    color: var(--white-title);
    font-size: 16px;
}

.principal
{
    background-image: url("./assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container
{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo
{
    font-weight: 700;
    font-size: 28px;
}

.container__imagem
{
    margin: 1em 0 2em 0;
}

.container__caixa
{
    margin: 0 6em;
}

.container__botao
{
    background-color: var(--blue-button);
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: var(--white-title);
    margin-bottom: 1em;
}

.container__botao:active
{
    color: var(--blue-button);
    background-color: var(--white-title);
}

.botao__secundario
{
    background-color: transparent;
    border: 2px solid var(--white-title)
}

.container__aviso
{
    color: var(--gray-text);
    font-weight: 400;
    font-size: 12px;
}

.secundario
{
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem
{
    width: 80%;
}

.descricao__titulo
{
    font-weight: 700;
    font-size: 48px;
    color: var(--white-title);
    margin-bottom: 0.1em;
}

.descricao__texto
{
    color: var(--gray-text);
}

.secundario__botao
{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao
{
    padding: 2em;
}

.dispositivos
{
    text-align: center;
}

.dispositivos__titulo
{
    font-size: 48px;
    color: var(--white-title);
}

.dispositivos__lista
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item
{
    font-size: 32px;
}

.rodape
{
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista
{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1em;
    margin: 2.5em 0;
}

.lista__link a
{
    text-decoration: none;
    color: var(--white-title);
}

.lista__link a:hover
{
    color: var(--blue-button);
}

.rodape__texto
{
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--gray-text);
}